@using Chess.Infrastructure.DTO
@model DrillDto

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link rel="img" asp-href-include="~/lib/chessboardjs/img/chesspieces/wikipedia/*.png" />
    <link href="~/lib/chessboardjs/css/chessboard-1.0.0.css" rel="stylesheet" />
    <link href="~/css/chess_game.css" rel="stylesheet"/>

<div class="row">
    <div id="layout__main" class="col-lg-9">
        <div id="chessboard"></div>
    </div>
    <div id="layout__sidebar" class="col-lg-3 ">
        <div class="game__controls__component d-flex">

            <div class="game__controls__wrapper mb-auto">
                <div class="game__controls__info text-center">
                    <div>
                        <h2 class="drill_start"><i class="far fa-clock"></i> <time>00:00</time></h2>
                    </div>
                    <div id="drillMoveColor" class="section__white p-6 drill_start" style="height: 50px;">
                        <span>Ruch białymi figurami</span>
                    </div>
                        
               

                    <div class="end__drill__summary drill_end d-none">
                 
   
                        @* <h2 id="drill_result" class="text-center bg-danger p-3">
                            <i class="fas fa-times"></i>
                        </h2>
                         *@
                        <h4 id="drill_result" class="text-center bg-success p-3">
                            <i class="fas fa-check"></i>
                        </h4>      

                        
                      @* <h4 id="drill_result" class="text-center bg-secondary p-3">
                        <i class="fas fa-minus"></i>
                    </h4>     *@

                        @* <div class="d-flex border-bottom border-info">
                            <div class="p-2 mr-auto b-t-">Ranking zadania </div>
                            <div class="p-2 ">1232</div>
                        </div> *@

                        <div class="d-flex border-bottom border-info">
                            <div class="p-2 mr-auto ">Czas</div>
                            <div id="drill_summary_time" class="p-2">0:00</div>
                        </div>

                        <div class="d-flex border-bottom border-info">
                            <div class="p-2 mr-auto ">Poprawość wśród graczy</div>
                            <div class="p-2 ">@ViewBag.CorrectlyAttempts%</div>
                        </div>

                        <div class="d-flex border-bottom border-info">
                            <div class="p-2 mr-auto ">Ilość wywołan</div>
                            <div class="p-2 ">@Model.Attempts</div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="section_wrapper m-3 "> 
                <div class="drill_start">
                    <i class="far fa-lightbulb fa-2x m-3"></i>
                </div>
                <div class="drill_end d-none">
                    <i class="fas fa-undo fa-2x m-3"></i>
                    <a asp-area="" asp-action="GetChessDrill" asp-route-id=null>
                        <i class="fas fa-arrow-right fa-2x m-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="PGN" style="padding: 50px;">






@section Scripts {
    @* <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> *@
    <script src="~/lib/chessjs/chess.js"></script>
    <script src="~/lib/chessboardjs/js/chessboard-1.0.0.js"></script>
    <script src="~/js/chess_drill.js"></script>

    <script>
        const drillId = "@Model.Id";
        const pgn = ('@Html.Raw(ViewBag.PGN)');
        const chess_mod_selected = chess_mod.DRILLS;
        const inputFen = "@Model.StartPosition";
    </script>

}




