@using Chess.Infrastructure.DTO
@model IEnumerable<ArticleDto>

@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">@ViewBag.Title</h1>

@if(@ViewBag.StatusCode == "success"){
<h1 class="alert-success">@ViewBag.Message </h1>
}

<a asp-action="Create" class="btn btn-secondary">Stwórz nowy artykuł</a> 

<table class="table text-center">
    <thead>
        <tr>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Title) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullNameAuthor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullNameAuthor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-articleId="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-articleId="@item.Id">Szegóły</a> |
                <a asp-action="Delete" asp-route-articleId="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>