@using Chess.Infrastructure.DTO
@model IEnumerable<MatchDto>

<div class="card">
  <div class="card-header text-center">
    Nadchodzące spotkania
  </div>
  <div class="card-body">
    @* <h5 class="card-title">Turniej o nazwie</h5>
    <h6 class="card-subtitle text-muted">12.02.2020</h6> *@
    <table class="table">
            <thead>
                <tr>
                    <th>
                        Typ
                    </th>
                    <th>
                        Gracze
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        Ranking
                    </td>
                    <td>
                        <a asp-controller="Match" asp-action="GetPlayerMatch" asp-route-id="@item.FirstPlayerId">@Html.DisplayFor(modelItem => item.FirstPlayer.UserName)</a>
                        <br>
                       <a asp-controller="Match" asp-action="GetPlayerMatch" asp-route-id="@item.SecondPlayerId">@Html.DisplayFor(modelItem => item.SecondPlayer.UserName)</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="ChessMatch" asp-action="ChessGame" asp-route-id="@item.Id">Dołącz</a>
                    </td>
                </tr>
                }
            </tbody>
    </table>
  </div>
</div>