@using Chess.Infrastructure.DTO
@model IEnumerable<ArticleDto>

<div class="row">
        <main>
            <div class="row post__preview__list__component m-2">
                @foreach (var item in Model) {
                <article class="col-sm-6 post__preview__list__element">
                    <figure>
                        <img src="~/img/artykuł2.jpg" class="img-fluid" />
                    </figure>
                    <header>
                        <h1>
                            <a asp-action="GetArticle" asp-route-id="@item.Id">@item.Title</a>
                        </h1>
                        <p>
                            <i class="far fa-newspaper"></i> @Html.DisplayFor(modelItem => item.CreatedAt) | @item.FullNameAuthor
                        </p>
                    </header>
                    <div>
                        <p>
                            @Html.DisplayFor(modelItem => item.Content)
                        </p>
                    </div>
                </article>
                }
            </div>
        </main>
</div>
