@using Chess.Infrastructure.DTO
@model IEnumerable<TournamentDto>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<p class="text-success">@ViewData["StatusMessage"]</p>

<!-- Tournaments -->
<div class="card">
    <div class="card-header">
        Lista turniejów
    </div>
    <div class="card-body">
        <form asp-controller="Tournament" asp-action="Index" method="get">
            <p>
                Turniej: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Użytkownicy
                    </th>
                    <th>
                        Ranking
                    </th>
                    <th>
                        Rozpoczęcie turnieju
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td class="text-left">
                            <a asp-action="Details" asp-route-tournamentId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisteredPlayersCount) / @Html.DisplayFor(modelItem => item.MaxPlayers) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinRank) - @Html.DisplayFor(modelItem => item.MaxRank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartEvent)
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>






@* <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> *@

