@using Chess.Infrastructure.DTO
@model TournamentDetailsDto

@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item active">
    <a class="nav-link " id="pills-information-tab" data-toggle="pill" href="#pills-information" role="tab" aria-controls="pills-information" aria-selected="true">Informacje</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-players-tab" data-toggle="pill" href="#pills-players" role="tab" aria-controls="pills-players" aria-selected="false">Uczestnicy</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-matches-tab" data-toggle="pill" href="#pills-matches" role="tab" aria-controls="pills-matches" aria-selected="false">Mecze</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
    <div class="card">
        <div class="card-header">
            Informacje o turnieju
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Nazwa turnieju</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Data rozpoczęcia</th>
                        <td>@Model.StartEvent.ToString("dd MMMM yyyy")</td>
                    </tr>
                    <tr>
                        <th scope="row">Godzina rozpoczęcia</th>
                        <td>@Model.StartEvent.ToString("H:mm")</td>
                    </tr>
                    <tr>
                        <th scope="row">Maksymalna ilość graczy</th>
                        <td>@Model.MinPlayers - @Model.MaxPlayers</td>
                    </tr>
                    <tr>
                        <th scope="row">Liczba zgraczy zapisana na turniej</th>
                        <td>@Model.RegisteredPlayersCount</td>
                    </tr>
                    <tr>
                        <th scope="row">Dopuszczalny ranking graczy</th>
                        <td>@Model.MinRank - @Model.MaxRank</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-players" role="tabpanel" aria-labelledby="pills-players-tab">
    <div class="card">
        <div class="card-header">
            Zapisanie gracze
        </div>
        <div class="card-body">
            @await Html.PartialAsync("_PlayersInTournament")
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-matches" role="tabpanel" aria-labelledby="pills-matches-tab">
   @await Component.InvokeAsync("MatchList",
    new {
        id = @Model.Id,
        fromTable = "tournament",
        addChessboard = false
    })
  </div>
</div>
