@using Chess.Infrastructure.DTO
@model IEnumerable<TournamentDto>

<h1>@ViewBag.Title</h1>

@if(@ViewBag.StatusCode == "success"){
<h1 class="alert-success">@ViewBag.Message </h1>
}

<!-- Tournaments -->

<a asp-action="Create">Stwórz nowy turniej</a> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayers)
            </th>
            <th></th>
            <th class="text-center">
                Wyślij wiadomość
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlayers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-name="@item.Name">Edytuj</a> |
                <a asp-action="Details" asp-route-name="@item.Name">Szegóły</a> |
                <a asp-action="Delete" asp-route-name="@item.Name">Usuń</a>
            </td>
            <td class="text-center">
                <a asp-action="SendMessage" asp-route-name="@item.Name"><i class="far fa-envelope fa-2x"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>