@using Chess.Infrastructure.DTO
@model IEnumerable<MatchDto>


<div class="card">
    <div class="card-header">
        @ViewBag.CardTitle
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Typ
                    </th>
                    <th>
                        Gracze
                    </th>
                    <th>
                        Wynik
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.BeginAt)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        Typ gry
                    </td>
                    <td>
                        <a asp-controller="Match" asp-action="GetPlayerMatch" asp-route-id="@item.FirstPlayerId">@Html.DisplayFor(modelItem => item.FirstPlayer.UserName)</a>
                        <br>
                        <a asp-controller="Match" asp-action="GetPlayerMatch" asp-route-id="@item.SecondPlayerId">@Html.DisplayFor(modelItem => item.SecondPlayer.UserName)</a>
                    </td>
                    <td>
                        Wynik
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginAt)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>